/* Essentials */

html, div, map, dt, isindex, form, header, aside, section, section, article, footer {
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #F8F8F8;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
body {
    margin: 30px 0 0 0;
}
.clear {
clear: both;
}

.spacer {
height: 20px;
}

a:link, a:visited {
/*color: #77BACE;*/
text-decoration: none;
}

a:hover {
text-decoration: underline;
}


/* Header */

header#header {
    width: 100%;
    height: 30px;
    background: #222222 url(../img/header_bg.png) repeat-x;
    position: fixed;
    top: 0;
    z-index: 20;
    left: 0;
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
}

header#header h1.site_title, header#header h2.section_title {
    display: block;
    float: left;
    margin: 0;
    width: 13%;
    height: 30px;
    color: #fff;
    text-align: left;
    text-indent: 1.8%;
    text-shadow: 0 -1px 0 #000;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    overflow: hidden;
}
header#header h1.site_title .tooltip {
    line-height: 13px;
    font-size: 12px;
    font-weight: normal;
}

header#header h1.site_title a {
    color: #fff;
    text-decoration: none;
}
header#header h1.site_title a:hover {
    color: #08c;
}

header#header h2.section_title {
    width: 66%;
    background: url(../img/header_shadow.png) no-repeat left top;
    text-align: center;
    text-indent: 4.5%;
    cursor: pointer;
}

.btn_view_site {
float: left;
width: 9%;
}

.btn_view_site a {
    display: block;
    margin-top: 2px;
    width: 91px;
    height: 27px;
    background: url(../img/btn_view_site.png) no-repeat;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
    line-height: 26px;
}

.btn_view_site a:hover {
background-position: 0 -27px;
}

/* Secondary Header Bar */

section#secondary_bar {
width: 100%;
height: 38px;
background: #F1F1F4 url(../img/secondary_bar.png) repeat-x;
}

section#secondary_bar .user {
    height: 38px;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    line-height: 35px;
    padding: 0 30px 0 15px;
}

.user p {
    display: block;
    float: left;
    margin: 0;
    margin-left: 6%;
    padding: 0;
    width: 95%;
    height: 35px;
    color: #666666;
    text-indent: 25px;
}

.user a {
    float: right;
    color: #666666;
    text-decoration: none;
}

.user a:hover {
    color: #77BACE;
}

.user a.logout_user {
display: block;
float: left;
width: 16px;
height: 35px;
background: url(../img/icn_logout.png) center no-repeat;
text-indent: -5000px;
}

/* Breadcrumbs */

section#secondary_bar .breadcrumbs_container {
float: left;
width: 77%;
height: 38px;
background: url(../img/secondary_bar_shadow.png) no-repeat left top;
}

article.breadcrumbs {
float: left;
margin: 4px 3%;
padding: 0 10px;
height: 23px;
border: 1px solid #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
}

.breadcrumbs a {
display: inline-block;
float: left;
height: 24px;
line-height: 23px;
}

.breadcrumbs a.current, .breadcrumbs a.current:hover {
color: #9E9E9E;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
color: #44474F;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
font-weight: bold;}

.breadcrumbs a:hover {
color: #222222;
}

.breadcrumb_divider {
display: inline-block;
float: left;
margin: 0 5px;
width: 12px;
height: 24px;
background: url(../img/breadcrumb_divider.png) no-repeat;
}

/* Sidebar */

aside#sidebar {
    float: left;
    min-height: 500px;
    width: 13%;
    background: #E0E0E3 url(../img/sidebar.png) repeat;
    box-shadow: -1px 0 0 #ccc inset;
}

#sidebar hr {
display: block;
width: 100%;
height: 2px;
outline: none;
border: none;
background: url(../img/sidebar_divider.png) repeat-x;}


/* Search */

.quick_search {
padding: 14px 0 10px 0;
text-align: center;
}

.quick_search input[type=text] {
width: 90%;
height: 26px;
border: 1px solid #bbb;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: #fff url(../img/icn_search.png) no-repeat;
background-position: 10px 6px;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
color: #ccc;
text-indent: 30px;
}

.quick_search input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
color: #666666;
}

/* Sidebar Menu */

#sidebar h3 {
    display: block;
    float: left;
    margin: 15px 0 0px 6%;
    width: 90%;
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    line-height: 20px;
}

.toggleLink {
display: block;
float: right;
margin-right: 2%;
color: #999999;
text-decoration: none;
font-size: 10px;
}

#sidebar .toggleLink:hover {
color: #77BACE;
text-decoration: none;
}

#sidebar ul {
clear: both;
margin: 0; padding: 0;
}

#sidebar li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li a {
    display: inline-block;
    margin: 2px 0;
    /*padding-left: 25px;*/
    height: 17px;
    color: #666666;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    line-height: 17px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    display: block;
    padding-left: 12%;
    margin-right: 1px;
}

#sidebar li a:hover {
    color: #444;
    padding-left: 20%;
    text-decoration: none;
    background: #f5f5f5;
}

/* Sidebar Icons */

#sidebar li.icn_new_article a {
background: url(../img/icn_new_article.png) no-repeat center left;
}
#sidebar li.icn_edit_article a {
background: url(../img/icn_edit_article.png) no-repeat center left;
}
#sidebar li.icn_categories a {
background: url(../img/icn_categories.png) no-repeat center left;
}
#sidebar li.icn_tags a {
background: url(../img/icn_tags.png) no-repeat center left;
}
#sidebar li.icn_add_user a {
background: url(../img/icn_add_user.png) no-repeat center left;
}
#sidebar li.icn_view_users a {
background: url(../img/icn_view_users.png) no-repeat center left;
}
#sidebar li.icn_profile a {
background: url(../img/icn_profile.png) no-repeat center left;
}
#sidebar li.icn_folder a {
background: url(../img/icn_folder.png) no-repeat center left;
}
#sidebar li.icn_photo a {
background: url(../img/icn_photo.png) no-repeat center left;
}
#sidebar li.icn_audio a {
background: url(../img/icn_audio.png) no-repeat center left;
}
#sidebar li.icn_video a {
background: url(../img/icn_video.png) no-repeat center left;
}
#sidebar li.icn_settings a {
background: url(../img/icn_settings.png) no-repeat center left;
}
#sidebar li.icn_security a {
background: url(../img/icn_security.png) no-repeat center left;
}
#sidebar li.icn_jump_back a {
background: url(../img/icn_jump_back.png) no-repeat center left;
}

#sidebar p {
margin: 10px 0 0 0;
padding-left: 6%;
color: #666666;
text-shadow: 0 1px 0 #fff;}

#sidebar a {
color: #666666;
text-decoration: none;
}

#sidebar a:hover {
text-decoration: underline;
}

#sidebar footer {
margin-top: 20%;
}


/* Main Content */


section#main {
float: left;
margin-top: -2px;
min-height: 500px;
width: 87%;
/* background: url(../img/sidebar_shadow.png) repeat-y left top; */
}

#main header h3 {
    margin: 8px 20px 5px;
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    line-height: 20px;
}

/* Modules */

.module {
    margin: 10px 1% 5px 1%;
    width: 98%;
    border: 1px solid #9BA0AF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
}

#main .module header h3 {
    display: block;
    float: left;
    width: 90%;
}

.module header {
width: 100%;
height: 38px;
background: #F1F1F4 url(../img/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
    width: 100%;
    height: 32px;
    border-top: 1px solid #9CA1B0; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    background: #F1F1F4 url(../img/module_footer_bg.png) repeat-x;
}

.module_content {
    margin: 10px 20px;
    color: #666;
}

/* Module Widths */

.width_full {
    width: 98%;
}

.width_half {
    float: left;
    margin-right: 0;
    width: 48%;
}

.width_quarter {
    float: left;
    margin-right: 0;
    width: 23%;
}

.width_3_quarter {
    float: left;
    margin-right: 0;
    width: 74%;
}

/* Stats Module */

.stats_graph {
float: left;
width: 64%;
}

.stats_overview {
float: right;
width: 26%;
border: 1px solid #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F6F6F6;
}

.overview_today, .overview_previous {
float: left;
width: 50%;}

.stats_overview p {
margin: 0; padding: 0;
text-align: center;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
}

.stats_overview p.overview_day {
margin: 6px 0;
font-weight: bold;
font-size: 12px;
}

.stats_overview p.overview_count {
color: #333333;
font-weight: bold;
font-size: 26px;}

.stats_overview p.overview_type {
margin-bottom: 8px;
color: #999999;
font-size: 10px;}

/* Content Manager */

.tablesorter {
    margin: -5px 0 0 0;
    width: 100%;
}

.tablesorter td {
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted #ccc;
}
.tablesorter tr:hover {
    background: #f5f5f5;
}
.tablesorter tr th {
    height: 32px;
    background: url(../img/table_sorter_header.png) repeat-x;
    text-align: left;
    text-indent: 10px;
    cursor: pointer;
}

.tablesorter td {
    padding: 3px 10px;
    border-right: 1px dotted #ccc
}

.tablesorter input[type=image] {
    margin-right: 10px;
}
.tablesorter .input input[type=number] {
    width: 60%;
}
.tablesorter .input input {
    margin: 0;
}

ul.tabs {
    float: right;
    margin: 3px 10px 0 0;
    padding: 0;
    height: 24px; /*--Set height of tabs--*/
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    list-style: none;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
ul.tabs li a {
    display: block;
    padding: 0 10px;
    height: 24px;
    color: #999;
    text-decoration: none;
}

ul.tabs li a:hover {
    color: #44474F;
}

html ul.tabs li.active a  {
    color: #44474F;
    }

html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #F1F2F4;
    -webkit-box-shadow: inset 0 2px 3px #818181;
    -moz-box-shadow: inset 0 2px 3px #818181;
    box-shadow: inset 0 2px 3px #818181;
}

html ul.tabs li:first-child, html ul.tabs li:first-child a  {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px;
}

html ul.tabs li:last-child, html ul.tabs li:last-child a  {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px;
}

#main .module header h3.tabs_involved {
display: block;
float: left;
width: 60%;
}

/* Messages */

.message {
border-bottom: 1px dotted #cccccc;
}

/*input[type=submit] {
padding: 0 10px;
height: 22px;
border: 1px solid #A8A9A8;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #D0D1D4 url(../img/btn_submit.png) repeat-x;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
color: #666;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
cursor: pointer;
}

input[type=submit]:hover {
color: #333333;
}

input[type=submit].alt_btn {
padding: 0 10px;
height: 22px;
border: 1px solid#30B0C8;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #D0D1D4 url(../img/btn_submit_2.png) repeat-x;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
color: #003E49;
text-shadow: 0 1px 0 #6CDCF9;
font-weight: bold;
cursor: pointer;
}

input[type=submit].alt_btn:hover {
color: #001217;
}

input[type=submit].btn_post_message {
display: block;
width: 37px;
height: 24px;
border: none;
background: #D0D1D4 url(../img/post_message.png) no-repeat;
text-indent: -5000px;
cursor: pointer;
}

input[type=submit].btn_post_message:hover {
background-position: 0 -24px;
}
*/
.post_message {
padding: 5px 0;
text-align: left;
}

.post_message input[type=text] {
float: left;
margin: 0 3.5%;
width: 70%;
height: 20px;
border: 1px solid #bbb;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-position: 10px 6px;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
color: #ccc;
text-indent: 10px;
}

.post_message input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
color: #666666;
}

.post_message input[type=image] {
float: left;
}

.message_list {
overflow-x:hidden;
overflow-y: scroll;
height: 250px;
}

/* New/Edit Article Module */

fieldset {
    margin: 10px 0;
    padding: 5px 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F6F6F6;
}

form legend {
    margin: 0;
    padding: 0;
}

form label {
    display: block;
    margin: 0 0 2px 1px;
    padding-left: 10px;
    /*text-transform: uppercase;*/
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

form .input {
    margin-bottom: 10px;
    clear: both;
}
.edit-list .input {
    margin-bottom: 0;
}
form .checkbox {
    margin: 0 0 5px 20px;
}
form .checkbox label {
    padding-left: 0;
}
form .checkbox input {
    margin: 0;
}
.error-message {
    color: #7B040F;
    margin: 0 0 0 20px;
    /*display: inline-block;*/
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=number],
form input[type=tel] {
    margin: 0;
    margin: 0 10px;
    padding-left: 10px;
    width: 85%;
    height: 20px;
    border: 1px solid #BBBBBB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-position: 10px 6px;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    color: #666666;
}
form .datepicker-h {
    float: left;
    clear: none;
}
form .datepicker-h input {
    float: left;
    width: 207px;
}
form .datepicker-h .error-message {
    display: block;
}
form input[type=number] {
    width: 35%;
    text-align: right;
}
form .input input.small {
    width: 20%;
    margin: 0 5px 0 10px;
}
form .input > div {
    margin-left: 10px;
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=number]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.width_half table input[type=number] {
    width: auto;
}

form select {
margin: 0 10px;
width: 89%;
/*height: 20px;*/
border: 1px solid #bbb;
color: #666666;
}

form textarea {
display: block;
float: left;
margin: 0 0.5%;
margin: 0 10px;
padding-left: 10px;
width: 85%;
border: 1px solid #BBBBBB;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-position: 10px 6px;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
color: #666666;
}

form textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

form .inline label {
    float: left;
    width: 120px;
    margin-right: 5px;
}
form .inline .error-message {
    margin-left: 130px;
}


.submit_link {
float: right;
margin-right: 3%;
padding: 5px 0;
}

.submit_link select {
width: 150px;
height: 20px;
border: 1px solid #bbb;
color: #666666;
}

#main .module_content h1 {
margin: 8px 0px;
color: #333333;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 22px;
}

#main .module_content h2 {
margin: 8px 0px;
color: #444444;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 18px;
}

#main .module_content h3 {
margin: 8px 0px;
color: #666666;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
}

#main .module_content h4 {
margin: 8px 0px;
color: #666666;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
}

#main .module_content li {
    line-height: 150%;
}

/* Alerts */

h4.alert_info {
    margin: 10px 1% 5px 1%;
    padding: 10px 0;
    width: 98%;
    border: 1px solid #77BACE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #B5E5EF url(../img/icn_alert_info.png) no-repeat;
    background-position: 10px 10px;
    color: #082B33;
    text-indent: 40px;
    font-size: 14px;
}

h4.alert_warning {
    margin: 10px 1% 5px 1%;
    padding: 10px 0;
    width: 98%;
    border: 1px solid #C7A20D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F5F3BA url(../img/icn_alert_warning.png) no-repeat;
    background-position: 10px 10px;
    color: #796616;
    text-indent: 40px;
    font-size: 14px;
}

h4.alert_error {
    margin: 10px 1% 5px 1%;
    padding: 10px 0;
    width: 98%;
    border: 1px solid #D20009;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F3D9D9 url(../img/icn_alert_error.png) no-repeat;
    background-position: 10px 10px;
    color: #7B040F;
    text-indent: 40px;
    font-size: 14px;
}

h4.alert_success {
    margin: 10px 1% 5px 1%;
    padding: 10px 0;
    width: 98%;
    border: 1px solid #79C20D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #E2F6C5 url(../img/icn_alert_success.png) no-repeat;
    background-position: 10px 10px;
    color: #32510F;
    text-indent: 40px;
    font-size: 14px;
}
